doctype html
html(lang='en')
  head
    title 회원가입
  body
    h1 회원가입
    #container.col
      table
        tr
          td 이름
          td
            input(type='text', name='user_name')
        tr
          td 아이디
          td
            input(type='text', name='user_id')
        tr
          td 비밀번호
          td
            input(type='password', name='user_pw')
        tr
          td 비밀번호 확인
          td
            input(type='text', name='user_pw2')
        tr
          br
          td E-mail 주소
          td
            input(type='text', name='user_address')
        tr
          td
          td
            input(type='submit', name='submit', value='완료')
            input(type='reset', name='reset', value='취소')
